.buy-container{
   @include flexbox();
   @include flex-direction(column);
   height: 100%;
   width: 100%;
   font-family: Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
   .yo-dialog{
      position: absolute;
      left: 50%;
      top: 50%;
      @include transform(translate(-50%,-50%));
      p{
         font-size: 14px;
      }
      .ft{
         button:nth-child(1){
            color: black;
         }
         button{
            font-size: 14px;
         }
      }
   }
   header{
      @include flexbox();
      @include align-items(center);
      box-sizing: border-box;
      height: 44px;
      background-color: white;
      border-bottom: 1px solid #ccc;
      padding-left: 10px;
      z-index: 1;
      img{
         width: 35px;
         @include flex(0.6);
      }
      h2{
         @include flex(5);
         text-align: center;
         color: #373a3c;
         font-size: 18px;
         font-weight: normal;
      }
      p{
         @include flex(1);
         font-size: 16px;
         color: #333;
      }
   }
   section{
      @include flex();
      width: 100%;
      overflow: hidden;
      background: #eee;
      >div{
         // margin-top: 8px;
         ul{
            background-color: #eee;
            border-top: 1px solid #ccc;
            li{
               margin-top: 8px;
               background: white;
               @include flexbox();
               @include flex-direction(column);
               .part1{
                  @include flexbox();
                  @include align-items(center);
                  padding-left: 10px;
                  padding-right: 10px;
                  height: 0.42rem;
                  border-bottom: 1px solid #ccc;
                  img{
                     width:18px;
                     height: 18px;
                  }
                  h2{
                     font-weight: normal;
                     padding: 0 6px 0 10px;
                  }
                  p{
                     @include flex();
                  }
                  i{
                     color: #ed3f40;
                  }
               }
               .part2{
                  @include flexbox();
                  padding: 10px 10px 0 10px;
                  height: 1.2rem;
                  @include align-items(center);
                  border-bottom: 1px solid #ccc;
                  >img:nth-child(1){
                     width:18px;
                     height: 18px;
                     margin-right: 10px;
                  }
                  >img:nth-child(2){
                     width:0.92rem;
                  }
                  >div{
                     @include flexbox();
                     @include flex-direction(column);
                     padding-left: 10px;
                     height: 100%;
                     div:nth-child(1){
                        p{
                           height: 40px;
                           line-height: 20px;
                           font-size: 13px;
                           overflow: hidden;
                           color: #333;
                        }
                        span{
                           font-size: 12px;
                           color:#787c80;
                        }
                     }
                     div:nth-child(2){
                        @include flexbox();
                        @include align-items(flex-end);
                        padding-top: 10px;
                        i{
                           color: #ed3f40;
                           font-size: 14px;
                           @include flex();
                        }
                        img{
                           width: 24px;
                           height: 24px;
                        }
                        b{
                           padding: 0 10px;
                           font-weight: normal;
                        }
                     }
                  }
               }
               .part3{
                  padding-left: 10px;
                  height: 0.38rem;
                  color: #ed3f40;
                  border-bottom: 1px solid #ccc;
                  span,i{
                     line-height: 0.38rem;
                  }
               }
            }
         }
      }
   }
   footer{
      @include flexbox();
      box-sizing: border-box;
      height: 44px;
      padding-left: 10px;
      border-top: 1px solid #ccc;
      @include align-items(center);
      z-index: 1;
      img{
         width: 18px;
         margin-right: 10px;
      }
      b{
         font-weight: normal;
         font-size: 16px;
         color: black;
      }
      div{
         padding-left: 8px;
         padding-top: 4px;
         height: 100%;
         @include flex(3);
         i{
            color:rgb(236, 63, 63);
            font-size: 14px;
         }
      }
      button{
         height: 100%;
         border: none;
         color: white;
         font-size: 16px;
         @include flex(1.5);
         background-color: rgb(236, 63, 63);
      }
      .deleteorcollect{
         text-align: right;
         button{
            margin-right: 0.12rem;
         }
         button:nth-child(1){
            width: 0.71rem;
            height: .33rem;
            border: 2px solid #333;
            border-radius: 3px;
            background-color: #eee;
            font-size: 16px;
            color: #333;
         }
         button:nth-child(2){
            width: 0.71rem;
            height: .33rem;
            border: 2px solid #ed3f3f;
            border-radius: 3px;
            background-color: #eee;
            font-size: 16px;
            color: #ed3f3f;
         }
      }
   }
}
