body > div {
  height: 100%;
  @include flexbox();
  @include flex-direction(column);
}

.index-container {
  @include flex(1);
  width: 100%;
  overflow: hidden;
}

footer {
  height: 44px;
  background: #fff;
  ul {
    width: 100%;
    height: 100%;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    border-top: solid 0.5px #d9d9d9;
    li {
      @include flex(1);
      @include flexbox();
      @include flex-direction(column);
      @include align-items(center);
      @include justify-content(center);
      &.active b,
      &.active i {
        color: $baseColor;
      }
      b, i {
        font-weight: normal;
        font-size: 12px;
        color: #d6d6d6;
      }
      i {
        font-size: 24px;
        line-height: 24px;
      }
      b {
        line-height: 12px;
      }
      &:nth-child(3) {
        i {
          position: relative;
          z-index: 99;
          background: #fff;
          width: 54px;
          border-radius: 50%;
          top: -6px;
          text-align: center;
          line-height: 54px;
          font-size: 32px;
          &::after {
            content: '';
            position: absolute;
            width: 54px;
            height: 54px;
            border: solid 0.5px #d6d6d6;
            border-radius: 50%;
            left: 0;
            top: 0;
            z-index: 1;
          }
        }
      }
    }
  }
}

.main-container {
    height: 100%;
    @include flexbox();
    @include flex-direction(column);

    > * {
        width: 100%;
    }

    header {
        height: 0.44rem;

        ul {
            width: 100%;
            height: 100%;
            @include flexbox();
            background-color: $baseColor;

            li {
                @include flexbox();
                @include align-items(center);
                @include justify-content(center);
                height: 100%;

                &:nth-child(2) {
                    @include flex(1);
                }

                &:not(:nth-child(2)) {
                    width: 0.44rem;
                    font-size: 0.26rem;
                    color: #fff;
                    opacity: 0.5;
                }

                span {
                    width: 0.60rem;
                    height: 0.25rem;
                    background: gray;
                    font-size: 0.14rem;
                    line-height: 0.25rem;
                    text-align: center;

                    &:first-child {
                        border-radius: 0.10rem 0 0 0.10rem;
                    }

                    &:last-child {
                        border-radius: 0 0.10rem 0.10rem 0;
                    }

                    &.active {
                        background-color: #64d985;
                        color: #fff;
                    }

                    &:not(.active) {
                        background-color: rgba(100, 217, 133, 0.5);
                        color: rgba(255, 255, 255, 0.5);
                    }
                }
            }
        }
    }

    nav {
        height: 0.35rem;

        ul {
            width: 100%;
            height: 100%;
            @include flexbox();
            background: #fff;

            li {
                @include flex(1);
                @include border(0 0 1px 0, #d9d9d9);
                font-size: 0.14rem;
                text-align: center;
                line-height: 0.35rem;

                &.active {
                    border-bottom: solid 0.02rem $baseColor;
                    color: $baseColor;
                }
            }
        }
    }

    > section {
        @include flex(1);
        overflow: hidden;
        width: 100%;

        .swiper-container {
            height: 100%;

            .swiper-wrapper {
              height: 100%;
              .swiper-slide {
                height: 100%;
              }
            }

            section {
                height: 100%;
                overflow: hidden;
                .head {
                    text-align: center;
                    height: 0.35rem;
                    line-height: 0.35rem;
                }

                .head img {
                    width: 0.16rem;
                    display: inline-block;
                    transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    transition: transform 150ms;
                    -webkit-transition: transform 150ms;
                }

                .up {
                    transform: rotate(360deg) !important;
                    -webkit-transform: rotate(360deg) !important;
                }

                .foot {
                    text-align: center;
                    height: 0.35rem;
                    line-height: 0.35rem;
                }

                .foot img {
                    display: inline-block;
                    width: 0.16rem;
                    /*transform: rotate(0deg);*/
                    /*-webkit-transform: rotate(0deg);*/
                    transition: transform 150ms;
                    -webkit-transition: transform 150ms;
                }

                .down {
                    transform: rotate(180deg) !important;
                    -webkit-transform: rotate(180deg) !important;
                }

                ul {
                    @include flexbox();
                    flex-wrap: wrap;
                    align-content: flex-start;
                    width: 100%;

                    li {
                        width: 50%;
                        padding: 3vh;

                        &:nth-child(odd) {
                            padding: 0.05rem 0.025rem 0 0;
                        }

                        &:nth-child(even) {
                            padding: 0.05rem 0 0 0.025rem;
                        }

                        &:nth-last-child(1),
                        &:nth-last-child(2) {
                            padding-bottom: 0.04rem;
                        }

                        span {
                            width: 100%;
                            display: block;

                            b,
                            i {
                                background: #fff;
                                display: block;
                                font-weight: normal;

                                @media screen and (max-width:321px) {
                                    & {
                                        font-size: 15px;
                                    }
                                }
                                @media screen and (min-width:321px) and (max-width:400px) {
                                    & {
                                        font-size: 16px;
                                    }
                                }
                                @media screen and (min-width:400px) {
                                    & {
                                        font-size: 18px;
                                    }
                                }

                                img {
                                    width: 100%;
                                }
                            }

                            b {
                                padding: 0.03rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
